:host {
    .modaltc-main {
        min-height: 24rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__icon {
            display: flex;
            justify-content: center;
        }

        &__title {
            color: var(--pulse-color-primary-700);
            margin: 0.8rem 0;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        &__body {
            color: var(--pulse-color-carbon-700);
            margin: 0.8rem 0 0;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
}