.accounts {
  position: relative;
  margin-bottom: 3.2rem;

  &__content {
    background-color: var(--sherpa-midnight-50);
    min-height: calc(100vh - 8rem);
    padding-bottom: 3.2rem;

    &__caption {
      display: flex;
      flex-direction: column;
      &__title {
        color: var(--sherpa-carbon-900);
        &__primary {
          padding: var(--sherpa-spacing-6) var(--sherpa-spacing-0);
        }
        &__second {
          padding: var(--sherpa-spacing-8) var(--sherpa-spacing-0) var(--sherpa-spacing-6);
        }
      }
    }
  }
}
