.modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
  &__main-icon {
    display: inline-block;
  }
  &__description {
    text-align: left;
  }
  &__note {
    display: flex;
    align-items: center;
  }
  &__icon {
    font-size: 1.5rem;
    color: var(--sherpa-midnight-800);
    padding-right: var(--sherpa-spacing-4);
  }
  &__submit-btn {
    width: fit-content;
    margin: var(--sherpa-spacing-3) auto;
  }
}

@media (min-width: 600px) {
  .modal-content {
    &__submit-btn {
      width: fit-content;
      padding-inline: var(--sherpa-spacing-9);
    }
  }
}
