/* BreakPoints */
$break-mobile: 320px;
$break-mobile-md: 540px;
$break-tablet: 600px;
$break-table-md: 768px;
$break-desktop: 1025px;

// 599 - 770 --> Optional breakpoints used to work with legacy resolutions.
