:host {
  .pulse-voucher-summary-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 0.8rem;

    &--title {
      color: var(--pulse-color-carbon-700);
    }

    &--data {
      text-align: right;
    }

    &:not(.hide-border) {
      border-bottom: solid 0.1rem #dddddd;
    }

    &.error {
      .pulse-voucher-summary-item {
        &--title {
          color: var(--pulse-color-carbon-100);
        }
      }
    }

    @media only screen and (min-width: 771px) {
      padding: 2.5rem 2.4rem;
    }

    @media only screen and (min-width: 1000px) {
      padding: 2.3rem 1.6rem;
    }
  }
}
