.token-validation {
  background-color: var(--sherpa-midnight-50);
  height: 100vh;
  &__title {
    margin: 6.4rem var(--sherpa-spacing-0) var(--sherpa-spacing-6);
    color: var(--sherpa-carbon-900);
  }
}
