.auth-container {
  background-color: var(--sherpa-white);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;

  &__content {
    color: var(--sherpa-carbon-900);

    &__title {
      margin-top: var(--sherpa-spacing-10);
      margin-bottom: var(--sherpa-spacing-6);
    }
  }
}
