.limit-section-container {
  margin-bottom: 4.8rem;

  &__header {
    margin: 0;

    &__title {
      color: var(--pulse-color-primary-700);
      margin-bottom: 0.8rem;
    }
    &__desc {
      color: var(--pulse-color-carbon-700);
      margin-bottom: 3.2rem;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
  }

  @media only screen and (min-width: 541px) {
    &__header {
      margin: 0 2.5rem;
    }
  }

  @media only screen and (min-width: 771px) {
    &__body {
      &__form {
        max-width: 48rem;
      }
    }
  }
}
