
//Vars to Pulse Button
$button-margin: 2px 4px;
$button-padding: 0 3.2em;
$button-height: 4.8rem;
$button-border-radius: 24px;
$min-width: 14.2rem;

$button-font-family: var(--pulse-tp-ff-comp);
$button-font-size: 1.2rem;
$button-line-height: 1.6rem;

$button-opacity-disabled: .4;
$button-opacity-activated: 1;

$button-shadown-hover: 0 4px 8px 0 var(--pulse-color-bg);

