@avaldigitallabs:registry=https://avaldigitallabs.jfrog.io/avaldigitallabs/api/npm/npm-local/
//avaldigitallabs.jfrog.io/avaldigitallabs/api/npm/npm-local/:_auth=${JFROG_TOKEN}
//avaldigitallabs.jfrog.io/avaldigitallabs/api/npm/npm-local/:email=${JFROG_USERNAME}
//avaldigitallabs.jfrog.io/avaldigitallabs/api/npm/npm-local/:always-auth=true

@npm-bbta:registry=https://bbogdigital.jfrog.io/bbogdigital/api/npm/npm-bbta/
//bbogdigital.jfrog.io/bbogdigital/api/npm/npm-bbta/:_auth=${JFROG_BDB_TOKEN}
//bbogdigital.jfrog.io/bbogdigital/api/npm/npm-bbta/:email=mcast19@bancodebogota.com.co
//bbogdigital.jfrog.io/bbogdigital/api/npm/npm-bbta/:always-auth=true
