.browserslistrc
.editorconfig
.eslintignore
.prettierignore
.prettierrc
.eslintrc.js
.stylelintrc.json
jest.config.json
tsconfig.json
sonar-project.properties
Jenkinsfile.yml

.github/
config/
.dependabot/
src/
coverage/
docs/
.scannerwork/